<header>
    <div class="container">
        <p class="logo">ADEMAR S.A!</p>
        <nav>
            <a href="#somos-ademar">Quienes Somos</a>
            <a href="#nuestras-aberturas">Productos</a>
            <a href="/user/register">Register</a>
            <a href="/user/login">Login</a>
        </nav>
    </div>
</header>
