<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/home.css">
    <title>ADEMAR</title>

</head>
<body>
    <header>
        <div>   
            <a href="/"><img src="" alt="foto-ademar"></a>
        </div>
        <nav>
            <ul>
                <a href="/puertas"><li>PUERTAS</li></a>
                <a href="/ventanas"><li>VENTANAS</li></a>
                <a href="/contacto"><li>CONTACTO</li></a>
                <a href="/login"><li>LOGIN</li></a>
                <a href="/register"><li>REGISTER</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <H1>ADEMAR</H1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis eius exercitationem illo numquam facilis harum voluptates inventore cupiditate! Quod, labore maxime quo sint dolorem minima consequatur earum placeat exercitationem ut!</p>
            </div>
        </section>
        <section>
            <div>
                <h3>Que ofrecemos?</h3>
                <img src="" alt="Foto-fabrica">
            </div>  
            <div>
                <h3>Ventanas</h3>
                <img src="" alt="">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div>
                <h3>Puertas</h3>
                <img src="" alt="">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <div>
                <h3>ADEMAR</h3>
            </div>
            <div>
                <input type="email" name="nombreCompleto" placeholder="dejanos tu mail" >
            </div>
        </div>
    </footer>
</body>
</html>