
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">ADEMAR S.A!</p>
            <nav>
                <a href="#somos-ademar">Quienes Somos</a>
                <a href="#nuestras-aberturas">Productos</a>
                <a href="/user/register">Register</a>
                <a href="/user/login">Login</a>
            </nav>
        </div>
    </header>

    <section class="hero">
        <h1>Aberturas<br>ADEMAR<br></h1>

        <button>COMPRA YA!</button>
    </section>

    <section id="somos-ademar">
        <div >
            <h2>Somos <span class="color-acento">Ademar</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, hic! Quos earum laudantium totam mollitia itaque distinctio eum beatae, recusandae aut. Illum dolorum repellat inventore delectus eius asperiores illo qui.</p>
        </div>
    </section>

    <section id="nuestras-aberturas">
        <div class="container">
            <div class="aberturas">
                <div class="carta">
                    <h3>PLACAS</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, nam recusandae autem tempora in aliquam vitae atque ullam, labore accusantium, voluptatem commodi culpa ipsa fuga maiores modi quae error architecto.</p>
                    <a href="/placas"><button>comprar</button></a>
                </div>
                <div class="carta">
                    <h3>CHAPA</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, nam recusandae autem tempora in aliquam vitae atque ullam, labore accusantium, voluptatem commodi culpa ipsa fuga maiores modi quae error architecto.</p>
                    <a href="/exterior"><button>comprar</button></a>
                </div>
                <div class="carta">
                    <h3>VENTANAS</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, nam recusandae autem tempora in aliquam vitae atque ullam, labore accusantium, voluptatem commodi culpa ipsa fuga maiores modi quae error architecto.</p>
                    <a href="/ventanas"><button>comprar</button></a>
                </div>
            </div>
        </div>  
    </section>

    <footer>
        <div>
            <p>&copy; ADEMAR S.A 2011</p>
        </div>
    </footer>
    
</body>
</html>