
<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: "ADEMAR"})  %>

<body>
    <%- include('./partials/header')  %>

    <section class="hero">
        <h1>Aberturas<br>ADEMAR<br></h1>

        <button>COMPRA YA!</button>
    </section>

    <section id="somos-ademar">
        <div >
            <h2>Somos <span class="color-acento">Ademar</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, hic! Quos earum laudantium totam mollitia itaque distinctio eum beatae, recusandae aut. Illum dolorum repellat inventore delectus eius asperiores illo qui.</p>
        </div>
    </section>

    <section id="nuestras-aberturas">
        <div class="container">
            <div class="aberturas">
                <div class="carta">
                    <h3>PLACAS</h3>
                    <a href="/placas"><button>comprar</button></a>
                </div>
                <div class="carta">
                    <h3>CHAPA</h3>
                    <a href="/exterior"><button>comprar</button></a>
                </div>
                <div class="carta">
                    <h3>VENTANAS</h3>
                    <a href="/ventanas"><button>comprar</button></a>
                </div>
            </div>
        </div>  
    </section>
    <%- include("./partials/footer")  %>
</body>
</html>