<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: "ADEMAR"})  %>
<body>
    <main>
        <form class="login" action="/user/login">
            <h2>INICIA SESIÓN</h2>
            <div>
                <input class="controls" type="text" name="usuario" placeholder="Nombre de usuario">
            </div>
            <div>
                <input class="controls" type="email" name="email" placeholder="E-mail">
            </div>
            <div>
                <button class="boton-login" type="submit">Enviar</button>
            </div>
        </form>
    </main>
</body>
</html>