<!DOCTYPE html>
<html lang="en">

<body>
    <main>
        <div class="form-registro">
            <form class="formularios" action="/" method="GET">
                <h2>CREA TU CUENTA</h2>
                <div id="campo-registro">
                    <label for="nombre">NOMBRE</label>
                    <input type="text" name="Nombre">
                </div>
                <div id="campo-registro">
                    <label for="email">EMAIL</label>
                    <input type="email" name="email">
                </div>
                <div id="campo-registro">
                    <label for="usuario">NOMBRE DE USUARIO</label>
                    <input type="text" name="usuario">
                <div class="foto-registro">
                    <label for="fotoRegistro">FOTO DE PERFIL</label>
                    <input type="file" name="fotoRegistro" accept=".jpg, .png, .jpeg, .gif" id="fotoRegistro">
                </div>
                </div>
                    <label for="contrasenia">CONTRASEÑA</label>
                    <input type="password" name="clave">
                <div id="campo-registro">
                    <label for="contrasenia">CONFIRMAR CONTRASEÑA</label>
                    <input type="password" name="clave">
                </div>
                <div>
                    <button>REGISTRARSE</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>