*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


h1{font-size: 3em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}

body{
    margin: 0;
    font-family: sans-serif;
}

header{
    background-color: white;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: orangered;
}

.hero{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-image: url("../img/chao-de-fabrica.jpg");
    background-size: cover;
    background-position: center;

}

#somos-ademar{
    text-align: center;
    padding: 200px 12px;
}

.color-acento{
    color: orangered;
}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: orangered;
}

button:hover{
    background-color: rgb(152, 43, 4);
}

.container{
    max-width: 1400px;
    margin: auto;
}


#nuestras-aberturas{
    background-color: rgba(30, 30, 30, 30);
    color: white;
    text-align: center;
}

#nuestras-aberturas button{
    margin: 10px;
}

#nuestras-aberturas h2{
    margin-top: 0;
}

#nuestros-aberturas p{
    display: none;
}

#nuestras-aberturas .carta{
    border-radius: 12px;
}

.aberturas{
    background-position: center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
}

.carta:first-child{
    background-image: url(../img/Imagen\ de\ WhatsApp\ 2023-10-09\ a\ las\ 21.39.27_3d61d4e1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carta:nth-child(2){
    background-image: url(../img/Imagen\ de\ WhatsApp\ 2023-10-09\ a\ las\ 21.39.28_cf0f719f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carta:nth-child(3){
    background-image: url(../img/Imagen\ de\ WhatsApp\ 2023-10-09\ a\ las\ 21.39.27_b289cae7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


footer{
    display: flex;
    color: grey;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}



